./42-frontend/DS_STORE
node_modules
./42-frontend/scripts/flow/*/.flowconfig
./42-frontend/*~
./42-frontend/*.pyc
./42-frontend/grunt
./42-frontend/_SpecRunner.html
./42-frontend/__benchmarks__
./42-frontend/build/
./42-frontend/remote-repo/
./42-frontend/coverage/
./42-frontend/module-cache
./42-frontend/fixtures/dom/public/react-dom.js
./42-frontend/fixtures/dom/public/react.js
./42-frontend/test/the-files-to-test.generated.js
./42-frontend/*.log*
