alabaster==0.7.12
appdirs==1.4.3
astroid==1.6.5
autoflake==0.6.6
autopep8==1.4.3
Babel==2.9.1
bandit==1.5.1
certifi==2017.11.5
chardet==3.0.4
click==6.6
cmakelint==1.3.4.1
coala==0.11.0
coala-bears==0.11.1
coala-utils==0.6.7
colorama==0.4.0
colorlog==2.10.0
coverage==4.5.2
cppclean==0.12
cpplint==1.3.0
decorator==4.3.0
defusedxml==0.5.0
dennis==0.9
dependency-management==0.4.0
Django==2.0.2
django-allauth==0.38.0
django-cors-headers==2.4.0
django-rest-auth==0.9.3
djangorestframework==3.9.0
django-heroku
docopt==0.6.2
docutils==0.14
eradicate==0.1.6
future==0.17.1
gitdb2==2.0.5
gunicorn
GitPython==2.1.11
guess-language-spirit==0.5.3
html-linter==0.3.0
idna==2.6
imagesize==1.1.0
ipython-genutils==0.2.0
isort==4.3.4
Jinja2==2.10
jsonschema==2.6.0
jupyter-core==4.4.0
lazy-object-proxy==1.3.1
libclang-py3==3.4.0
mando==0.3.3
MarkupSafe==1.1.0
mccabe==0.6.1
munkres3==1.0.5.5
mypy-lang==0.4.6
nbformat==4.4.0
nltk==3.3
oauthlib==2.0.6
packaging==18.0
pbr==5.1.1
polib==1.1.0
proselint==0.7.0
pycodestyle==2.4.0
pydocstyle==1.1.1
pyflakes==1.4.0
Pygments==2.2.0
PyJWT==1.5.3
pylint==1.9.3
pyparsing==2.3.0
PyPrint==0.2.6
pyreadline==2.1
pyroma==2.2
python3-openid==3.1.0
pytz==2018.7
PyYAML==3.13
radon==1.4.0
requests==2.18.4
requests-oauthlib==0.8.0
restructuredtext-lint==1.0.1
rstcheck==2.2
safety==0.5.1
sarge==0.1.5.post0
scspell3k==2.1
six==1.11.0
smmap2==2.0.5
snowballstemmer==1.2.1
social-auth-app-django==2.0.0
social-auth-core==1.5.0
Sphinx==1.4.9
stevedore==1.30.0
template-remover==0.1.9
termcolor==1.1.0
traitlets==4.3.2
unidiff==0.5.5
urllib3==1.22
vulture==0.10
wrapt==1.10.11
yamllint==1.6.1
yapf==0.14.0
