@import url('https://fonts.googleapis.com/css?family=Marvel');

#bodyStyle {
    background: url("./images/background.jpg") no-repeat center center fixed hsla(0, 100%, 100%, 0.1) ;
    background-size: cover;
    background-blend-mode: lighten;
}

