#title{
    position: absolute;
    width: 36%;
    height: 46px;
    margin-top: -60%;
    margin-left: 25%;
    box-shadow: 6px 6px 3px #D5D5D5;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 40%;
    color: #222222;
    border-color: #222222;
    border-width: 1px;
    background: white;
}

#content{
    position: absolute;
    width: 36%;
    height: 100px;
    margin-top: -55%;
    margin-left: 25%;
    box-shadow: 6px 6px 3px #D5D5D5;
    padding-bottom: 9%;
    color: #222222;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 40%;
    border-color: #222222;
    border-width: 1px;
    background: white;
}
#post_button{
    position: absolute;
    font: 40% "Comic Sans MS", cursive, sans-serif;
    width: 10%;
    text-align: center;
    border-color: #222222;
    border-width: 1px;
    margin-left: 51%;
    margin-top: -25%;
    background-color: white;

}