body{
    background: url("./images/bg.jpg") no-repeat center center fixed hsla(0, 100%, 90%, 0.1) ;
    background-size: cover;
    background-blend-mode: lighten;
}

img.logo{
    height: 100px;
    width: 110px;
    margin-top: 1%;
    margin-left: 1%;
}