@import url('https://fonts.googleapis.com/css?family=Marvel');

#title{
    position: absolute;
    width: 40%;
    height: 46px;
    margin-top: -60%;
    margin-left: 20%;
    box-shadow: 6px 6px 3px #D5D5D5;
    font-family: Marvel, sans-serif;
    font-size: 40%;
    border-width: 1px;
    background-color: rgb(255, 255, 255, 0.3) ;
}

#content{
    position: absolute;
    width: 40%;
    height: 25%;
    margin-top: -55%;
    margin-left: 20%;
    box-shadow: 6px 6px 3px #D5D5D5;
    padding-bottom: 9%;
    font-size: 40%;
    font-family: Marvel, sans-serif;
    border-width: 1px;
    background-color: rgb(255, 255, 255, 0.3) ;

}
#post_button{
    position: absolute;
    font-family: Marvel, sans-serif;
    width: 10%;
    height: 5%;
    font-size: 35%;
    text-align: center;
    border-width: 1px;
    margin-right: 38%;
    color : rgb(79, 78, 78);
    margin-top: 40.4%;
    background-color: rgb(255, 255, 255, 0.3) ;

}